body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(/img/portofolio\ achtergrond\ 2.jpg);
    color: white;
  }

  .position{
 display: flex;
 height: 100px;
  }